  <nav class="navbar">
    <h1 class="navbar__logo">MinhaApp</h1>
  </nav>

  <div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="sidebar__title">Leads</h2>
      <ul class="lead-list">
        @for (lead of clientes; track lead.id) {
          <li class="lead" (click)="mostrarConversa(lead.id)">
            <div class="lead__info">
              <span class="lead__name">{{ lead.client }}</span>
              <span class="lead__time">{{ lead.updated_at | date:'short' }}</span>
            </div>
            <p class="lead__last">{{ lead.last_client_message | slice:0:50 }}{{ lead.last_client_message.length > 50 ? '...' : '' }}</p>
          </li>
        }
      </ul>

    </aside>

    <!-- Chat -->
    <main class="chat">
      <!-- Header -->
      <header class="chat__header">
        <div class="chat__user">
          <div class="chat__avatar"></div>
          <div>
            <h3 class="chat__name">João Silva</h3>
            <p class="chat__status">Online</p>
          </div>
        </div>
      </header>

      <!-- Mensagens -->
      <section class="chat__messages">
        @for (mensagem of conversa; track mensagem) {
          <div class="message" 
              [ngClass]="{ 'received': mensagem.origin === 'CLIENT', 'sent': mensagem.origin === 'STORE' }">
            <p>{{ mensagem.content }}</p>
            <span class="time">{{ mensagem.sent_at }}</span>
          </div>
        }
      </section>
      <div class="chat__sendMessage">
        <textarea class="message__area" [(ngModel)]="mensagemGeradaTexto" id=""></textarea>
        <div class="button__area">
          <button  class="btn_basico " (click)="GerarMensagem()">Gerar Mensagem</button>
          <button  class="btn_basico ">Enviar Mensagem</button>
        </div>
        
      </div>
    </main>